* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* Buttons */
.btn {
  padding: 0.8rem 1.5rem;
}

/* Judul halaman */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}


/* Layouts 6 box untuk topik pembelajaran */
.grid-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px; 
}


/* --- Navbar--- */
header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: fixed;
  background-color: #a155a1;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  width:100%;
  top :0;
  left:0;
  z-index: 1000;
  align-items: center; 
  
}

.nav {
  display: flex;
  justify-content:center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding-left: 36rem;
  color: #f1f1f1;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  color: #f1f1f1;
}

.logo a {
  color: white;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: white;
}  

nav ul li:not(:last-child) a:hover {
  border-bottom: 3px solid #ffffff;
  padding-top: 5px; 
  padding-bottom: 5px;
}

.btn{
  background: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgb(218, 160, 233); /* Ganti warna latar belakang saat dihover */
  color: #fff; 
  border-bottom: none;
  border-color:rgb(218, 160, 233);/* Ganti warna teks saat dihover */
}


/* Halaman homepage */
#homepage {
  height: 735px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-items: center;
}

.home-right img {
  width: 85%;
}

.home-right {
  display: flex;
  justify-content: center;
}

.home-left h1 {
  font-size: 40px;
}

.home-left p1 {
  font-size: 15px;
}

.home-left a {
  background:#a155a1;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}
.home-left a.btn:hover {
  color:black;
  background-color: white;
  border: 2px solid rgb(218, 160, 233);
}




/* Program */
#program {
  padding: 6rem 0;
  background-color: rgb(240, 239, 239);
}

.kelas {
  border-radius: 0.7rem;
  flex-direction: column;
  display: flex;
  padding-top: 1rem;
  align-items: center;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.kelas-icon {
  height: 70px;
  width:70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kelas-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kelas-info {
  padding: 1rem 1.5rem;
}

.kelas-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.kelas h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.kelas p{
  color:#656d72;
}

.kelas:hover {
  background-color: #e0e0e0;
  color: #000; /* Ganti dengan warna teks yang diinginkan */
}

/* Tentang Kami */
#about_us {
  padding: 6rem 0;
}

.about_us-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  justify-items: center; 
  align-items: center;
}

.about_us-left img {
  width: 80%;
  align-content: center;
}

.about_us-right {
  line-height: 2rem;
  padding: 0 1rem;
  text-align: center;
  color: #000;
}


/* Kontak */
#kontak {
  padding: 6rem 0;
  background-color: rgb(240, 239, 239);
}

.kontak-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5rem;
}

#Form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#Form div {
  margin-bottom: 15px;
}

#Form input[type="text"],
#Form input[type="email"],
#Form input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#Form .btn-submit {
  background-color:  #a155a1 ;
  color : rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#Form .btn-submit:hover {
  background-color: white;
  color:#000;
  border : 1px solid rgb(218, 160, 233) ;
}

.kontak-right{
  margin-left : 40px;
  align-content: center;
}

.kontak-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.kontak-item-icon {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Footer Section */
footer {
  padding: 1rem 0;
  background: white;
  text-align: center;
}

/*menu burger untuk tampilan layar kecil 768px kebawah*/
@media screen and (max-width: 768px) {
  .nav ul {
    display: none; /* Sembunyikan menu navigasi */
    flex-direction: column; /* Tampilkan menu vertikal */
    align-items: center; /* Posisikan menu di tengah */
    position: absolute; /* Tetapkan posisi tetap untuk menu overlay */
    top: 100%; /* Atur menu di atas header */
    left: 0; /* Atur menu di sebelah kiri */
    width: 100%; /* Gunakan lebar penuh */
    background-color: #a155a1; /* Warna latar belakang */ 
    padding: 20px 0;/* Atur padding atas sesuai dengan tinggi header */ 
  }

  .nav ul.active {
  flex-direction: column;/* Menampilkan menu secara vertikal */
  display: flex; /* Tampilkan menu dengan menggeser ke bawah */
  }

  #homepage{
    padding-top: 100px;
  }

  /*desain burger*/
  .burger {
    display: block; /* Tampilkan burger menu */
    cursor: pointer; /* Ubah kursor menjadi pointer */
    position: fixed; /* Tetapkan posisi tetap */
    top: 15px; /* Atur posisi dari atas */
    right: 20px; /* Atur posisi dari kanan */
    z-index: 1500; /* Z-index lebih tinggi dari menu navigasi */
  }

  .burger .line {
    width: 25px; /* Lebar garis */
    height: 3px; /* Tinggi garis */
    background-color: #fff; /* Warna garis */
    margin: 5px; /* Ruang antar garis */
    transition: transform 0.3s ease-in-out; /* Animasi transisi untuk burger menu */
  }

  /*animasi burger membentuk (x)*/
  .burger.toggle .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px); /* Animasi garis burger */
  }

  .burger.toggle .line:nth-child(2) {
    opacity: 0; /* Sembunyikan garis tengah pada animasi burger */
  }

  .burger.toggle .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px); /* Animasi garis burger */
  }
}